  .achiev-block {
    color: white;
    text-align: center;
    padding: 40px 20px;
  }
  
  .achiev-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 250px; 
  }
  
  .achiev-item {
    text-align: center;
    padding: 50px; 
    border-radius: 12px;
    width: 250px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .achiev-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .counter {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .achiev-item p {
    color: white;
    margin-top: 15px;
    font-size: 16px;
  }  

  .title {
    margin-top: 15px;
    font-size: 2rem;
  }

  .achiev__muted {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }