.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1A2024;
    color: white;
    padding: 20px;
    font-size: 18px;
    margin-top: 40px;
}

.footer__text {
    text-align: center;
    margin-bottom: 10px;
}

.scroll {
    border: none;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 80px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.social__btn {
    justify-content: center;
    display: flex;
    align-items: center;
    column-gap: 25px;
    right: 20px;
    padding: 18px 80px;
}

/* Медиазапрос для мобильных устройств (до 768px) */
@media (max-width: 768px) {
    .footer {
        padding: 15px;
        font-size: 14px;
    }

    .scroll {
        padding: 8px 40px;
        font-size: 14px;
        margin-top: 10px;
    }

    .social__btn {
        padding: 12px 40px;
        column-gap: 15px;
        font-size: 14px;
    }
}

/* Медиазапрос для планшетов (до 1024px) */
@media (max-width: 1024px) {
    .footer {
        padding: 18px;
        font-size: 16px;
    }

    .scroll {
        padding: 10px 60px;
        font-size: 15px;
        margin-top: 15px;
    }

    .social__btn {
        padding: 16px 60px;
        column-gap: 20px;
    }
}

/* Медиазапрос для компьютеров (от 1025px) */
@media (min-width: 1025px) {
    .footer {
        padding: 20px;
        font-size: 18px;
    }

    .scroll {
        padding: 10px 80px;
        font-size: 16px;
        margin-top: 20px;
    }

    .social__btn {
        padding: 18px 80px;
        column-gap: 25px;
    }
}
