body {
    background: #252A2E;
}

.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
}

.title-2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: 0.06em;
}