.header {
    position: fixed;
    transition: all 0.3s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0); 
    backdrop-filter: blur(5px);
    z-index: 1000; 
}

.header__logo span {
    text-transform: uppercase;
    color: #ffff;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.header.visible {
    background: #252A2E;
    opacity: 1;
    transform: translateY(0);
}

.header.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
    width: 38px;
    height: 38px;
}

.header__nav ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header__nav button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.header__nav button:hover {
    color: #ddd;
}

.header__nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.header__nav a:hover {
    color: #ddd;
}
