.promo {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url('./../../img/photo/bg5.jpg');
}

.promo_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(65%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    color: white;
    text-align: center;
}

.promo__title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.promo__derec {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

/* Медиазапрос для мобильных устройств (до 768px) */
@media (max-width: 768px) {
    .promo {
        height: 80vh;  /* Меньше высота для мобильных */
    }

    .promo__text {
        width: 90%;  /* Ширина текста на мобильных */
    }

    .promo__title {
        font-size: 1.8rem;  /* Уменьшаем размер заголовка */
    }

    .promo__derec {
        font-size: 1.5rem;  /* Уменьшаем размер текста */
    }
}

/* Медиазапрос для планшетов (до 1024px) */
@media (max-width: 1024px) {
    .promo {
        height: 90vh;  /* Меньше высота для планшетов */
    }

    .promo__text {
        width: 85%;  /* Ширина текста на планшетах */
    }

    .promo__title {
        font-size: 2.5rem;  /* Уменьшаем размер заголовка */
    }

    .promo__derec {
        font-size: 1.8rem;  /* Уменьшаем размер текста */
    }
}

/* Медиазапрос для десктопов (больше 1024px) */
@media (min-width: 1025px) {
    .promo {
        height: 100vh;  /* Высота 100vh для десктопов */
    }

    .promo__text {
        width: 80%;  /* Ширина текста для десктопа */
    }

    .promo__title {
        font-size: 3rem;  /* Оставляем заголовок крупным для десктопа */
    }

    .promo__derec {
        font-size: 2rem;  /* Размер текста для десктопа */
    }
}
