.requisite {
    padding-top: 20px;
    padding-bottom: 43px;
}

.requi__header {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.requi__text {
    color: white;
    padding-top: 10px;
    flex: 1;
}

.requi__text ul li {
    align-items: center;
    display: flex;
    border-left: 3px solid #DAA520;
    font-size: 18px;
    margin: 10px 0;
    padding-left: 12px;
    gap: 18px;
}

.requi__header h2 {
    font-size: 2rem;
}

.requi__map {
    color: white;
    padding-top: 10px;
    flex: -1;
}

.requi__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}