.requisite {
    padding-top: 20px;
    padding-bottom: 43px;
}

.requi__header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 30px 0;
}

.requi__header h2 {
    font-size: 2rem;
}

.requi__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
}

.requi__map {
    color: white;
    padding-top: 10px;
    flex: 1;
}

.requi__block {
    color: white;
    padding-top: 20px;
}

.requi__block h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.requi__block ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.requi__block ul li {
    display: flex;
    align-items: center;
    gap: 18px;
    border-left: 3px solid #DAA520;
    font-size: 18px;
    margin: 10px 0;
    padding-left: 12px;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    .requisite {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .requi__header {
        margin: 15px 0;
    }

    .requi__header h2 {
        font-size: 1.5rem; /* Уменьшаем размер заголовка для мобильных устройств */
    }

    .requi__content {
        flex-direction: column; /* На мобильных устройствах контент будет в колонку */
        gap: 20px;
    }

    .requi__map {
        margin-bottom: 20px; /* Отступ снизу для карты */
    }

    .requi__block ul li {
        font-size: 16px; /* Уменьшаем размер шрифта в списке */
    }
}

/* Медиазапрос для планшетов */
@media (max-width: 1024px) {
    .requi__header h2 {
        font-size: 1.75rem; /* Увеличиваем размер заголовка для планшетов */
    }

    .requi__content {
        flex-direction: column; /* Контент в колонку для планшетов */
        gap: 25px;
    }

    .requi__block ul li {
        font-size: 17px; /* Уменьшаем шрифт для лучшего отображения */
    }
}

/* Медиазапрос для десктопов */
@media (min-width: 1025px) {
    .requi__header h2 {
        font-size: 2rem; /* Восстанавливаем стандартный размер заголовка для десктопов */
    }

    .requi__content {
        justify-content: space-between; /* Выравнивание элементов по горизонтали */
    }

    .requi__block ul li {
        font-size: 18px; /* Возвращаем стандартный размер шрифта для списка */
    }
}
