.news {
  padding-top: 20px;
  padding-bottom: 43px;
}

.news__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.news__card {
  display: flex;
  justify-content: space-between;
  color: white;
  column-gap: 40px;
}

.news__header h2 {
  font-size: 2rem;
}

/* Медиазапрос для мобильных устройств (до 768px) */
@media (max-width: 768px) {
  .news {
    padding-top: 16px;
    padding-bottom: 30px;
  }

  .news__header {
    margin: 20px 10px;
  }

  .news__header h2 {
    font-size: 1.5rem;
  }

  .news__card {
    flex-direction: column;
    gap: 20px;
    column-gap: 0;
  }
}

/* Медиазапрос для планшетов (до 1024px) */
@media (max-width: 1024px) {
  .news {
    padding-top: 18px;
    padding-bottom: 35px;
  }

  .news__header h2 {
    font-size: 1.75rem;
  }

  .news__card {
    gap: 25px;
  }
}

/* Медиазапрос для десктопов (больше 1024px) */
@media (min-width: 1025px) {
  .news {
    padding-top: 20px;
    padding-bottom: 43px;
  }

  .news__header {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .news__card {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
  }

  .news__header h2 {
    font-size: 2rem;
  }
}
