.projectcard {
    position: relative;
    width: 900px;
    height: 500px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .projectcard__imageWrapper {
    position: relative;
    height: 80%;
    width: 100%;
    margin-bottom: 28px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .projectcard__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
  }
  
  /* Overlay внутри изображения */
  .projectcard__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .projectcard__imageWrapper:hover .projectcard__overlay {
    opacity: 1;
  }
  
  .projectcard__overlayText {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .projectcard__button {
    background-color: #ff9800; /* Оранжевый фон */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .projectcard__button:hover {
    background-color: #e68900; /* Тёмно-оранжевый фон при наведении */
  }
  
  .projectcard__body {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
  }
  
  .projectcard__title {
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.56;
    letter-spacing: -0.04em;
  }
  
  .projectcard__muted {
    font-size: 16px;
  }
  
  .projectcard__icon {
    width: 24px;
    height: 24px;
  }
  